*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
        background-image:url(./images/pexels-apasaric-3122779.jpg);
        width: 100%;
        height: 100vh;
        background-attachment: fixed;
}
/* General */
.text-center{
    text-align: center;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.mb-20 {
    margin-bottom: 20px;
}
@media (min-width: 776px) {
    .col-md-6{
        width: calc((100%/12)*6);
        padding: 0px 10px;
    }
}
@media (min-width: 992px) {
    .col-lg-4{
        width: calc((100%/12)*4);
        padding: 0px 10px;
    }
}
/* section 1 */
.title-page h1,h2{
    width: 80%;
    margin: auto;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.707);
}
.title-page h1{
    margin: 25px auto 0px;
}
.title-page h2{
    font-size: 15px;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.73);;
}
#form-section .containar{
    width: 70%;
    margin: auto;
    background-color: #262525b2;
    padding: 50px;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
}
#form-section{
    margin:25px auto 0px;
    width: 80%;
    color: rgba(255, 255, 255, 0.81);
}
#form-section .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#form-section .row .form-group{
    width: 50%;
    margin-bottom: 20px;
    padding:0px 10px;
    transition: ease 0.5s;
}
#form-section .row .form-group:hover{
    transform: scale(1.1);
}
#form-section .row .form-group .form-control{
    width: 100%;
    border: 0px solid;
    border-radius: 20px;
    background-color: rgba(106, 106, 106, 0.558);
    height: 30px;
    padding: 15px 15px;
    color: rgba(255, 255, 255, 0.686);
}
#form-section .row .form-group .form-lable{
    margin-bottom: 5px;
    display: inline-block;
}
#form-section .row .form-group .form-checkbox{
    border: 5px solid rgb(0, 0, 0);
}
#form-section .row .create-btn{
    width: 80%;
    margin: auto;
    border: 0px solid ;
    border-radius: 20px;
    height: 35px;
    color: rgba(0, 0, 0, 0.73);
    background-color: rgba(255, 255, 255, 0.558);
    cursor: pointer;
    transition: ease 0.5s;
}
#form-section .row .warning-btn{
    width: 80%;
    margin: auto;
    border: 0px solid ;
    border-radius: 20px;
    height: 35px;
    color: rgba(0, 0, 0, 0.73);
    background-color: rgba(242, 255, 0, 0.558);
    cursor: pointer;
    transition: ease 0.5s;
}
#form-section .row .create-btn:hover{
    background-color: #a3a3a392;
    transform: scale(0.99);
}
#form-section .row .warning-btn:hover{
    background-color: #a3a3a392;
    transform: scale(0.99);
}
#card-section .container{ 
    width: 80%;
    margin: auto;
    margin-top: 50px;
    color: rgba(255, 255, 255, 0.707);
}
#card-section .container .row .card{
    border: 2px solid white;
}
#card-section .container .row .card{
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
    background-color: #262525bf;
}
#card-section .container .row .card .card-img-top{
    width: 100%;
    height: 350px;
}
#card-section .container .row .card .card-body{
    padding: 20px;
    color: white;
}
#card-section .container .row .card .card-body .card-title{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}
#card-section .container .row .card .card-body .card-text{
    margin-bottom: 10px;
    font-size: 15px;
}
#card-section .container .row .card .card-body .card-text .new-price{
    color: rgba(0, 97, 0, 0.842);
    font-weight: bold;
}
#card-section .container .row .card .card-body .text-center .btn1{
    border: 0px;
    border-radius: 20px;
    width: 80px;
    height: 30px;
    margin-top: 10px;
    background-color: #0d0d0d;
    color: rgba(255, 255, 255, 0.896);
    transition: all ease 0.3s;
}
#card-section .container .row .card .card-body .text-center .btn2{
    border: 0px;
    border-radius: 20px;
    width: 80px;
    height: 30px;
    margin-top: 10px;
    background-color: #3a0000;
    color: rgba(255, 255, 255, 0.896);
    transition: all ease 0.3s;
}
#card-section .container .row .card .card-body .text-center .btn1:hover{
    background-color: #00000048;
}
#card-section .container .row .card .card-body .text-center .btn2:hover{
    background-color: #870000a4;
}


@media(max-width: 576px){
    #form-section{
        width: 100%;
        margin-top: 50px;
    }
    #card-section .container .row .card .card-body{
        margin: 0px 50px;
    }
}
@media(max-width: 768px){
    #form-section{
        width: 100%;
        margin-top: 50px;
    }
    #card-section .container .row .card .card-body{
        margin: 0px 100px;
    }
}
@media (max-width: 992px) {
    #card-section .row .col-lg-4 {
        width: 100%; 
    }

}
@media (max-width: 460px){
    #form-section{
        width: 100%;
        margin-top: 50px;
    }
    #card-section .container .row .card .card-body{
        margin: 0px 50px;
    }
}
